@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --primary:#f9ba47;
    --gray:#ababab;
    --white:white;
}

::selection{
    background-color: var(--primary);
    color: var(--gray);
}

body{
    background-color: #080808;
    color: var(--white);
    overflow: hidden;
}
#preloader{
    background-color: #080808;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    position: fixed;
    z-index: 11111111999999911111;
    left: 0;
    top: 0;
overflow: hidden;
transition: all 1.5s ease;
}
.glitch {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
    animation: shift 1s ease-in-out infinite alternate;
  }
  
  .glitch:before,
  .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  
  .glitch:before {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #8b00ff;
    z-index: -1;
  }
  
  .glitch:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #00e571;
    z-index: -2;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(-3px, 3px);
    }
  
    40% {
      transform: translate(-3px, -3px);
    }
  
    60% {
      transform: translate(3px, 3px);
    }
  
    80% {
      transform: translate(3px, -3px);
    }
  
    to {
      transform: translate(0);
    }
  }
  
  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
    }
  
    41% {
      transform: skewX(10deg);
    }
  
    42% {
      transform: skewX(-10deg);
    }
  
    59% {
      transform: skewX(40deg) skewY(10deg);
    }
  
    60% {
      transform: skewX(-40deg) skewY(-10deg);
    }
  
    63% {
      transform: skewX(10deg) skewY(-5deg);
    }
  
    70% {
      transform: skewX(-50deg) skewY(-20deg);
    }
  
    71% {
      transform: skewX(10deg) skewY(-10deg);
    }
  }
  



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--gray);
}

::-webkit-scrollbar-thumb {
      border-radius: 12px;
    background: var(--primary);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #e69a0e;
  }

#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #f9bb476c, rgba(0, 0, 0, 0.748) 40%), url('../imgs/bg.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    padding: 10px 10%;
    position: relative;
}
.dropdown-toggle{
 display: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .5s ease;
    width: 100%;
}

.fixed{
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 10%;
    height:100px;
    top: 0;
    background-color: black;
    z-index: 11111111 !important;

}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    z-index: 1;
    opacity: .4;
  }
  

.logo {
  margin-top: 12px;
}



.logo a{
  font-weight: 600;
  font-size: 40px;
  color:var(--white);
  width: 110px;
  display: block;
}
.logo a > img{
width: 100%;
height: 100%;
object-fit: contain;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li:hover a{
    color: var(--primary);
}
.li-active a, .li-active::after{
    width: 100%;
    color: var(--primary);

}
nav ul li a{
 color:var(--white);
 font-size: 18px;
 transition: all .2s  ease-in;
}
nav ul li::after{
    transition: all .2s  ease-in;
position: absolute;
background-color: var(--primary);
display: block;
content: '';
width: 0%;
height: 3px;
left: 0;
bottom: -4px;
border-radius: 25px;
}
.hide{
    display: none;
}

.header-text{
    margin-top: 15%;
    z-index: 1111111111111111;
}
.header-text h1{
    font-size: 32px;
    margin-top: 20px;
}
.header-text h1 span{
color: var(--primary);
}

/* <-----------------about------------------> */

#about{
    padding: 80px 0;
    color: var(--gray);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 > img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--white);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-titles > .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
   position: relative;
}
.tab-links::after{
    position: absolute;
    display: block;
    width: 0%;
    height: 3px;
    border-radius: 12px;
    background-color: var(--primary);
    content: '';
    left: 0;
    bottom: -4px;
    transition: all .5s ease;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents{
display: none;
}
.tab-contents.active-tab{
    display: block;
}

.tab-contents ul li {
margin: 10px 0;
}
.tab-contents ul li span{
color: var(--primary);
opacity: .9;
font-size: 14px;
}
/* <-----------------services------------------> */

#team{
    padding: 30px 0;
}

.team-list{
    display: flex;
    gap: 10px;
    padding: 20px 0;
    align-items: center;
    justify-content: center !important;
    padding-top: 40px;
}
.owl-item.active{
display: flex;
align-items: center;
justify-content: center;
}
.team{
    background-color:var(--gray);
    border-radius: 25px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5;
    padding: 40px 60px;
    box-shadow: inset 0 0 10px 0  black;
}
.team:hover{
    background-color:var(--primary);
    transition: all .2s ease-in-out;
}
.team:hover figure{
    border: 6px solid var(--gray);
    transition: all .2s ease-in-out;
}
.team figure{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid var(--primary);
    overflow: hidden;
}
.team  figure > img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.team  ul{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
gap: 10px;
}
.team  ul li{
    width: 30px;
    height: 30px;
border-radius: 50%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
}
.team  ul i{
color: var(--primary);
font-size: 20px;
display: block;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .owl-prev,
  .owl-next {
    font-size: 50px !important;
  }
/* <-----------------portfolio------------------> */

#portfolio{
padding: 50px 0;
}

.work-list{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 500px;
}
.work img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit:cover ;
    object-position: center center;
    display: block;
    transition: all .5s ease;
}

.work:hover .layer{
    height: 100%;
   
}
.work:hover img{
  scale: 1.2;
   
}
.layer{
    width: 100%;
    height: 0%;
    background:linear-gradient(rgba(0, 0, 0, 0.6), var(--primary));
    border-radius: 10px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center ;
    padding: 0 40px;
    flex-direction: column;
    text-align: center;
    transition: all .5s ease;
    font-size: 14px
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px
}

.layer a {
margin-top: 20px;
color: var(--primary);
font-size: 18px;
line-height: 60px;
background-color: var(--white);
border-radius: 50%;
text-align: center;
width: 60px;
height: 60px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--primary);
    border-radius: 6px;
    padding: 14px 50px;
    color: var(--white);
 cursor: pointer;  
  transition: all .5s ease;
}
.btn:hover{
    background-color: var(--primary);
}



/* <-----------------contact------------------> */

.contact-left{   
    width: 48%;
}
.contact-right{ 
    width: 48%; 
}
.contact-left a {
    color: var(--white);
    width: fit-content;
    font-size: 18px;
}
.contact-left a i{
    color: var(--gray);
    margin-right: 15px;
    font-size: 25px;
    transition: all .5s ease;
}

.contact-left a:hover i{
    color: var(--primary);
}
.contact-left .btn{
    color: var(--primary);
    display: inline-block;
    color: var(--gray);
}
.db{
    display: block;
    margin: 10px 0;
}
.btn:hover,  .btn:hover i{
   color: var(--white) !important;
}
form .btn{
    background-color: transparent;
}
.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    resize: vertical;
    background: rgba(255, 255, 255, 0.079);
    padding: 15px;
    margin: 15px 0;
    color: var(--white);
    border-radius: 8px;
    font-size: 18px;
}

footer{
    width: 100%;
    background: linear-gradient(45deg, var(--primary)50%, black 0%);
    padding: 10px 0;
}





    /* <-----------------media------------------> */


    /* // `sm` applies to x-small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 


        
.team  ul li{
    width: 22px;
    height: 22px;
}
.team  ul i{
font-size: 15px;
}
.team > h1{
font-size: 20px;
}
      
        .header-text{
            margin-top: 40%;
            font-size: 8px;
        }
        .header-text h1{
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .header-text h1 span{
        color: var(--primary);
        }

        .about-col-1{
            flex-basis: 100%;
        }
        
        .about-col-1 > img{
            width: 100%;
            border-radius: 15px;
        }
        .about-col-2{
            flex-basis: 100%;
        }
        .sub-title{
            font-size: 30px;
        }
        
        .tab-titles > .tab-links{
            margin-right: 25px;
            font-size: 12px;
        }
        
        
        .tab-contents ul li span{
        font-size: 12px;
        }
        .team{
            width: 100%;
            height: 300px;
        }


/* <-----------------contact------------------> */

.contact-left{
    flex-basis: 100% !important;
}

.contact-right{
    flex-basis: 100% !important;

}


form{
    width: 100% !important;
}
form input, form textarea{
    font-size: 12px;
}
footer p{
  font-size: 8px;
}



    }
    
    /* // `md` applies to small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 

     }
    
    /* // `lg` applies to medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 

        .contact-left{   
            width: 98%;
        }
        .contact-right{ 
            width: 98%; 
        }
      .dropdown-toggle{
          background-color:black;
          border-radius: 12px;
          z-index: 1111111111;
          display: block;
          margin-top: 20px;
      }
        .dropdown-menu {
            position: absolute;
            top: 46px;
            right: 0px;
            z-index: 1000;
            display: none;
            width: fit-content;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
        }
    
        .dropdown-menu.show {
            display: block;
        }
    


        .menu-container {
            display: block;
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    
        .menu-icon {
            margin: 0% !important;
            width: 30px;
            height: 24px;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
        }
    
        .line {
            width: 100%;
            height: 3px;
            background-color: var(--primary);
    
            transition: transform 0.3s ease;
            border-radius: 12px;
        }
    
    
        .menu-container.clicked .line-1 {
            transform: rotate(30deg) translate(2px, 8px);
            width: 100%;
        }
    
        .menu-container.clicked .line-2 {
            opacity: 0;
        }
    
        .menu-container.clicked .line-3 {
            transform: rotate(-30deg) translate(2px, -6px);
            width: 100%;
        }
    
        .line:not(:last-child) {
            margin-bottom: 4px;
        }
    
    
    
    
        nav{
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-wrap: wrap;
            transition: all .5s ease;
            width: 100%;
        }
        
        
        
        nav .logo a{
            width: 90px;
        }
        nav ul {
            z-index: 11111;
            overflow: hidden;
            position: absolute;
            background-color: black;
            inset: 0;
            height: 0;
            transition: all .5s ease;
        }

     
     
        nav ul li{
      display: block !important;
      margin-top: 2em;
      margin-left: 4em;
        }

     
        nav ul li::after{
       height: 0;
        }

        .logo {
            margin-top: 20px;
          }
          


     }
    
    /* // `xl` applies to large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 

     }
    
    /* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
    @media (max-width: 1399.98px) { 

     }